*{
    box-sizing: border-box;
    list-style: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}
