@import 'main';
@import 'color';
@import 'mobile';

%flex{
    display: flex;
    align-items: center;
}
/* nav */

@mixin animationSearch($name) {
     /* animations */
     @keyframes #{$name}{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }/* /animation */
}
nav{
    position: relative;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 3px $dark;
    padding: 10px;
    background-color: $light;
    @extend %flex;
    position: fixed;
    z-index: 100;
    top: 0px;


    /* wepper */
    .wepper{
        width: 100%;
        height: 100%;
        @extend %flex;
        justify-content: space-between;
         /* logo */
         .logo{
            background-image: linear-gradient(to left bottom, #56669d, #8b6da7, #ba75a7, #e0819d, #fa9490);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -ms-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            -ms-text-fill-color: transparent;
            font-weight: 700;

         }
         /* /logo */

         /* main lisat */
         .main-list{
             @extend %flex;
             margin-top: 15px;
             li{
                 margin: 10px;
             };
             .num-messages{
                 position: relative;
                 font-size: 25px;
                 margin-right: 30px;
                 a{
                     text-decoration: none;
                     cursor: pointer;
                     color: $dark;
                    span{
                        position: absolute;
                        color: rgb(255 255 255);
                        font-size: 11px;
                        right: -9.99px;
                        /* top: 2px; */
                        padding: 2px;
                        border-radius: 20px;
                        background-color: rgb(179 35 35);
                     }
                 }
             }/* /first child */

             .showList{
                 @extend %flex;
                 justify-content: center;
                 flex-direction: column;

                 /* show-list-setting-profile */
                 .show-list-setting-profile{
                    padding: 8px;
                    background: rgb(58 55 55);
                    color: rgb(255 255 255);
                    border-radius: 3px;
                    cursor: pointer;
                    @extend %flex;
                    justify-content:center ;
                    i{
                        margin-right: 4px;
                    }
                    p{
                        padding:0px;
                        margin-bottom: 0px;
                    }

                 }
                 /* /show-list-setting-profile */

                 /* profile-list */
                 .profile-list{
                    position: absolute;
                    top: 5px;
                    left: 6500px;
                    flex-direction: column;
                    background-color: rgb(238 238 238);
                    box-shadow: -1px 2px 3px #313131;
                    border-radius: 4px;
                    width: 200px;
                    height: 60vh;
                    text-align: center;
                    transition: all .3s ease;
                    padding-left:0px;
                    &.show-list{
                        left: 83%;
                        top: 65px;
                    }
                    li:not(last-child){
                        border-bottom: 1px solid $dark;
                    }
                    li{
                        transition: color .3s ease;
                        width: 90%;
                        height: 50px;
                        @extend %flex;
                        justify-content: center;
                        font-size: 18px;
                        div{a:hover{color: brown;}}
                        a{
                            text-decoration: none;
                            color: $dark;
                        }
                    }
                 }
                   /* /profile-list */
             }

             /* search-buuton */
             .search-buuton{
                 position: relative;
                 .search-icon{
                    font-size: 20px;
                    position: absolute;
                    top: 10px;
                    left:5px;
                 }
                 .search-animation{
                    width: 8%;
                    height: 96%;
                    top: 2px;
                    transition: all 1s ease-in-out;
                   animation: loopSearching 1s ease-in-out .3s infinite;
                    @include animationSearch(loopSearching);
                 }
                 input[type=search]{
                    width: 100%;
                    /* height: 100%; */
                    height: 33px;
                    border-radius: 4px;
                    box-shadow: 2px 3px 4px #313131;
                    text-align: center;
                    transition: all .1s ease;
                    float: right;
                    font-size: 18px;
                    color: $dark;
                    padding: 10px;
                    &:focus{
                        width: 500px;
                        height: 44px;
                        border: 1px solid $dark;
                    }
                 }
                 @include mobile{
                    .search-icon {
                        /* font-size: 20px; */
                        position: absolute;
                        top: -8px;
                        left: -38px;
                        font-weight: 700;
                        font-size: 22px;
                        width: 250px;
                    }
                    input[type=search]{
                        transition: all 0.3s ease;
                        position: absolute;
                        top: -114px;
                        z-index: 2;
                        width: 200px;
                        left: -114px;
                        height: 42px;
                        float: ceil($number: 4);
                        &:focus{
                            width: 260px;
                            left: -124px;
                            height: 42px;
                            border: 1px solid $dark;
                        }
                        &.showInputSearch{
                            top: 37px;
                        }
                    }/* /input search */
                 }

             }
             /* /search-buuton */

         }
         /* /main list */

    }
    /* /wepper */


}/* /nav */

/* root user */
.rootUser{
    /* UserComponent */
.wepperUser{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    @include ipad{
        grid-template-columns:1fr 1fr 1fr;
        padding: 2px;
    }
    @include mobile{
        grid-template-columns:1fr;
    }
    margin-top: 70px;
    .cards{
        padding: 10px;
        margin: 10px;
    }
}
/* /UserComponent */
}
/* /root user */




