@import '_color';
@import '_main';
@import '_container';
@import '_mobile';


%flex{
    display: flex;
    align-items: center;
}


/* login */
.login{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 5px;

    /* fom */
    form[method=post]{
        @extend %flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;

        /* inputs */
        input[name=identfy]{
            width: 60%;
            height: 40px;
            color: $dark;
            box-shadow: 1px 1px 2px $dark;
            border-radius: 3px;
            padding: 0 10px;
            @include ipad{
                width: 80%;
            }
            &:focus{
                outline:1px solid $green ;
            }
            &:not(:first-child){
                margin-top: 10px;
            }

        }
        /* end of inputs */

        /* password-eye */
        .password-eye{
            position: relative;
            width: 60%;
            height: 40px;
            color: $dark;
            box-shadow: 1px 1px 2px $dark;
            border-radius: 3px;
            @include ipad{
                width: 80%;
            }
            /* font awesome */
            .fa-eye{
                position: absolute;
                right: 10px;
                top: 8px;
                cursor: pointer;
                color: rgb(49 49 49);
                @include ipad{
                    transform: none;
                    right: 10px;
                }
                @include mobile{
                right: 40px;;
                }
            }
            /* font awesome */
            input[name=password]{
                width: 60%;
                height: 40px;
                color: $dark;
                box-shadow: 1px 1px 2px $dark;
                border-radius: 3px;
                padding: 0 10px;
                width: 100%;
                &:focus{
                    width: 100%;
                }
                @include ipad{
                    width: 100%;
                }
            }
        }
        /* /password-eye */



        /* button */
        button{
            width: 40%;
            height: 40px;
            background: $dark;
            color: $light;
            cursor: pointer;
            border-radius: 3px;
            margin-top: 30px;
            padding: 0px;
            &:hover{
                background: #000;
            }
        }
        /* end of button */


        /* forgot-password */
        .forgot-password {
            width: 80%;
            padding: 10px;
            margin-top: 10px;
            a{
                text-decoration: none;
                color: $dark;
                transition: color .3s ease;
                font-size: 15px;
                &:hover{
                    color: $green;
                }
            }
        }
        /* /forgot-pasword */

        /* STRONG */
        strong{
            font-size: 11px;
            color: rgb(189, 42, 16);
            @include mobile{
                font-size: 8px;
            }
        }
        /* END OF STRONG */

    }
    /* end form */
}
/* end of ligon */
