* {
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* end of ipad mixin */
/* end of mobile */
nav .wepper .main-list .showList .profile-list li, nav .wepper .main-list .showList, nav .wepper .main-list, nav .wepper, nav {
  display: flex;
  align-items: center;
}

/* nav */
nav {
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 3px #313131;
  padding: 10px;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 0px;
  /* wepper */
  /* /wepper */
}
nav .wepper {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  /* logo */
  /* /logo */
  /* main lisat */
  /* /main list */
}
nav .wepper .logo {
  background-image: linear-gradient(to left bottom, #56669d, #8b6da7, #ba75a7, #e0819d, #fa9490);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  font-weight: 700;
}
nav .wepper .main-list {
  margin-top: 15px;
  /* /first child */
  /* search-buuton */
  /* /search-buuton */
}
nav .wepper .main-list li {
  margin: 10px;
}
nav .wepper .main-list .num-messages {
  font-size: 25px;
  position: relative;
  margin-right: 30px;
}
nav .wepper .main-list .num-messages a {
  text-decoration: none;
  cursor: pointer;
  color: #313131;
}
nav .wepper .main-list .num-messages a span {
  position: absolute;
  color: white;
  font-size: 11px;
  right: -9.99px;
  /* top: 2px; */
  padding: 2px;
  border-radius: 20px;
  background-color: #b32323;
}
nav .wepper .main-list .showList {
  position: relative;
  justify-content: center;
  flex-direction: column;
  /* show-list-setting-profile */
  /* /show-list-setting-profile */
  /* profile-list */
  /* /profile-list */
}
nav .wepper .main-list .showList .show-list-setting-profile {
  padding: 10px;
  background: #3a3737;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
nav .wepper .main-list .showList .profile-list {
  position: absolute;
  top: 54px;
  left: 150px;
  flex-direction: column;
  background-color: #eeeeee;
  box-shadow: -1px 2px 3px #313131;
  border-radius: 4px;
  width: 200px;
  height: 60vh;
  text-align: center;
  transition: all 0.3s ease;
  padding-left: 0px;
}
nav .wepper .main-list .showList .profile-list.show-list {
  left: -90px;
}
nav .wepper .main-list .showList .profile-list li:not(last-child) {
  border-bottom: 1px solid #313131;
}
nav .wepper .main-list .showList .profile-list li {
  transition: color 0.3s ease;
  width: 90%;
  height: 50px;
  justify-content: center;
  font-size: 18px;
}
nav .wepper .main-list .showList .profile-list li div a:hover {
  color: brown;
}
nav .wepper .main-list .showList .profile-list li a {
  text-decoration: none;
  color: #313131;
}
nav .wepper .main-list .search-buuton {
  position: relative;
}
nav .wepper .main-list .search-buuton .search-icon {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
}
nav .wepper .main-list .search-buuton .search-animation {
  width: 8%;
  height: 96%;
  top: 2px;
  transition: all 1s ease-in-out;
  animation: loopSearching 1s ease-in-out 0.3s infinite;
  /* animations */
  /* /animation */
}
@keyframes loopSearching {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
nav .wepper .main-list .search-buuton input[type=search] {
  width: 100%;
  /* height: 100%; */
  height: 33px;
  border-radius: 4px;
  box-shadow: 2px 3px 4px #313131;
  text-align: center;
  transition: all 0.1s ease;
  float: right;
  font-size: 18px;
  color: #313131;
  padding: 10px;
}
nav .wepper .main-list .search-buuton input[type=search]:focus {
  width: 500px;
  height: 44px;
  border: 1px solid #313131;
}
@media screen and (max-width: 411px) {
  nav .wepper .main-list .search-buuton {
    /* /input search */
  }
  nav .wepper .main-list .search-buuton .search-icon {
    /* font-size: 20px; */
    position: absolute;
    top: -8px;
    left: -38px;
    font-weight: 700;
    font-size: 22px;
    width: 250px;
  }
  nav .wepper .main-list .search-buuton input[type=search] {
    transition: all 0.3s ease;
    position: absolute;
    top: -114px;
    z-index: 2;
    width: 200px;
    left: -114px;
    height: 42px;
    float: 4;
  }
  nav .wepper .main-list .search-buuton input[type=search]:focus {
    width: 260px;
    left: -124px;
    height: 42px;
    border: 1px solid #313131;
  }
  nav .wepper .main-list .search-buuton input[type=search].showInputSearch {
    top: 37px;
  }
}

/* /nav */
/* UserComponent */
.wepperUser {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 70px;
}
@media screen and (max-width: 1024px) {
  .wepperUser {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2px;
  }
}
@media screen and (max-width: 411px) {
  .wepperUser {
    grid-template-columns: 1fr;
  }
}
.wepperUser .cards {
  padding: 10px;
  margin: 10px;
}

/* /UserComponent */

/*# sourceMappingURL=homePage.css.map */
