* {
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* end of ipad mixin */
/* for  */
/* end of mobile */
/* container */
.container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* wepper */
}
.container .wepper {
  width: 60%;
  min-height: 400px;
  background: #eeeeee;
  box-shadow: 0px 0px 128px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}
@media screen and (max-width: 414px) {
  .container .wepper {
    width: 80%;
  }
}

/* end of container */
/* end of ipad mixin */
/* for  */
/* end of mobile */
.login form[method=post] {
  display: flex;
  align-items: center;
}

/* login */
.login {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 5px;
  /* fom */
  /* end form */
}
.login form[method=post] {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  /* inputs */
  /* end of inputs */
  /* password-eye */
  /* /password-eye */
  /* button */
  /* end of button */
  /* forgot-password */
  /* /forgot-pasword */
  /* STRONG */
  /* END OF STRONG */
}
.login form[method=post] input[name=identfy] {
  width: 60%;
  height: 40px;
  color: #313131;
  box-shadow: 1px 1px 2px #313131;
  border-radius: 3px;
  padding: 0 10px;
}
@media screen and (max-width: 1024px) {
  .login form[method=post] input[name=identfy] {
    width: 80%;
  }
}
.login form[method=post] input[name=identfy]:focus {
  outline: 1px solid #21bd5d;
}
.login form[method=post] input[name=identfy]:not(:first-child) {
  margin-top: 10px;
}
.login form[method=post] .password-eye {
  position: relative;
  width: 60%;
  height: 40px;
  color: #313131;
  box-shadow: 1px 1px 2px #313131;
  border-radius: 3px;
  /* font awesome */
  /* font awesome */
}
@media screen and (max-width: 1024px) {
  .login form[method=post] .password-eye {
    width: 80%;
  }
}
.login form[method=post] .password-eye .fa-eye {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  color: #313131;
}
@media screen and (max-width: 1024px) {
  .login form[method=post] .password-eye .fa-eye {
    transform: none;
    right: 10px;
  }
}
@media screen and (max-width: 414px) {
  .login form[method=post] .password-eye .fa-eye {
    right: 40px;
  }
}
.login form[method=post] .password-eye input[name=password] {
  width: 60%;
  height: 40px;
  color: #313131;
  box-shadow: 1px 1px 2px #313131;
  border-radius: 3px;
  padding: 0 10px;
  width: 100%;
}
.login form[method=post] .password-eye input[name=password]:focus {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .login form[method=post] .password-eye input[name=password] {
    width: 100%;
  }
}
.login form[method=post] button {
  width: 40%;
  height: 40px;
  background: #313131;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 30px;
  padding: 0px;
}
.login form[method=post] button:hover {
  background: #000;
}
.login form[method=post] .forgot-password {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
}
.login form[method=post] .forgot-password a {
  text-decoration: none;
  color: #313131;
  transition: color 0.3s ease;
  font-size: 15px;
}
.login form[method=post] .forgot-password a:hover {
  color: #21bd5d;
}
.login form[method=post] strong {
  font-size: 11px;
  color: #bd2a10;
}
@media screen and (max-width: 414px) {
  .login form[method=post] strong {
    font-size: 8px;
  }
}

/* end of ligon */

/*# sourceMappingURL=style.css.map */
